.App {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-weight: bold;
  font-size: xx-large;
}

.discription1 {
  margin-top: 5%;
  font-weight: bold;
  font-size:x-large;
}

.discription2 {
  margin-top: 5%;
}

.formContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slogan {
  writing-mode: sideways-lr;
  font-size: xx-large;
  padding-bottom: 30%;
  padding-top: 10%;
  align-self: flex-start;
}

.slogan2 {
  writing-mode: vertical-rl;
  font-size: xx-large;
  padding-top: 30%;
  padding-bottom: 10%;
}

.loginForm{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  gap: 25px;
  margin-top: 15%;
  width: 400px;
}


.buttonForm{
  display: flex;
  flex-direction: row;
  gap: 3px;
  margin-top: 1%
}

.inputField {
  width: 250px;
  max-width: 300px;
  height: 25px;
}

.loginButton {
  width: 120px;
  height: 25px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.signupButton{
  width: 120px;
  height: 25px;
  border-radius: 5px;
  border-color: white;
}
