.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin-right: 2%;
    flex: 1;
}


.content {
    display: flex;
    flex-direction: column;
    flex: 50;
}

.logoutField{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: center;
    flex: 50;
    max-height: 30px;
}

.searchBar {
    height: 25px;
    width: 200px;
    flex: 1;
    border-radius: 10px;
    border-color: #c9c9c9;
    border-width: 1px;
    margin-bottom: 5%;
}

.searchProfile {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    flex: 1;
    width: 200px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.searchProfileImage {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.searchProfileuserId {
    font-size: small;
    font-weight: 500;
}

.searchButton {
    max-width: 70px;
    height: 25px;
    margin-left: 2%;
    margin-right: 5%;
    flex: 1;
    font-size: medium;
    background-color: #7DA4FF;
    border-width: 0;
    border-radius: 20px;
    color: white;
}

.title {
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
    padding: 32px;
    padding-bottom: 20px;
}

