.title {
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
    padding: 32px;
}

p {
    font-weight: bold;
}
.container {
    text-align: center;
}

.buttonForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    margin-top: 15%
}

.button {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border-color: white;
    color: white;
    font-size: medium;
}

.cancel {
    background-color: #f04846;
    opacity: 0.7;
}

.success {
    background-color: #4863e8;
    opacity: 0.8;
}

.signupForm {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: end;
    margin-top: 5%;
}

.signupForm2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.inputForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

label {
    display: inline-block;
    text-align: end;
    width: 100px;
    font-weight: medium;
    margin-right: 2%;
}

.inputForm input {
  width: 250px;
  max-width: 300px;
  height: 25px;
  border-radius: 3px;
  border-width: 1px;
  margin-right: 7%;
}

.checkDuplicationButton {
    position: relative;
    left: 1px;
    width: 100px;
    height: 25px;
    font-weight: bold;
    border-radius: 5px;
    border-width: 0;
    background-color: #cdcdcd;
}

.sexButton {
    width: 125px;
    height: 35px;
    border-radius: 5px;
    border-color: #c8c8c8;
    background-color: white;
    color: #c9c9c9;
    font-size: medium;
    font-weight: bold;
    margin-right: 5%;
}

.sexButton:focus{
    color:black;
}

.sexButton:hover {
    color: black;
    border-color: white;
}