.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image {
    max-width: 200px;
    max-height: 250px;
    background-color: gray;
    border-radius: 1%;
}

.id {
    font-weight: bold;
}