.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 80%;
    left: 80%;
    width: 350px;
    height: 180px;
    border-radius: 5%;
    border-color: #101010;
    border-width: 3px;
    background-color:#ffffff;
    padding: 1%;
    z-index: 10;
}

.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 3%;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3%;
}

.rightContainer {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5%;
    text-align: left;
}

.id {
    font-size: large;
    font-weight: bold;
}

.name {
    font-size: small;
}

.introduce {
    font-size: small;
    font-weight: 300;
}

.followButton {
    position: absolute;
    justify-self: end;
    top: 80%;
    left: 65%;
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-size: small;
    border-width: 0;
    background-color: #408DFE;
    border-radius: 5%;
    color: white;
}

.unfollowButton{
    position: absolute;
    justify-self: end;
    top: 60%;
    left: 50%;
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-size: small;
    border-width: 0;
    background-color: whitesmoke;
    border-color: #bbbbbb;
    border-radius: 5%;
    color: #101010;
}