.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}

.id {
    font-weight: bold;
    font-size: large;
    margin-left: 10%;
    align-self: flex-start;
}

.id:hover {
    color: gray;
}

.profileImageContainer {
    border-radius: 50%;
    max-width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImage {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border-width: 0;
    object-fit: cover;
}

.nickname {
    align-self: flex-start;
    margin-left: 10%;
    padding: 0px;
    margin-top: 0;
    font-size: medium;
    font-weight: 700;
}

.tagContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    min-width: 100px;
    margin-left: 10%;
    align-self: flex-start;
    padding: 0px;
}

.tag {
    color: #5f7edd;
}

.tag:hover{
    color: blue;
}

.introduceContainer {
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 3px;
    padding: 0px;
    border-width: 0;
}

.introduce {
    font-weight: 300;
}
.profileSetButton{
    height: 25px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: #101010;
    border-radius: 5px;
    width: 180px;
}

.writePostButton {
    height: 25px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: #101010;
    border-radius: 5px;
    width: 180px;
    margin-top: 5%;
    align-self: center;
}

.friendsContainer {
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 10%;
}

.friendModalContainer {
    position: relative;
    display: inline-block;
}

.logout {
    margin-top: 5%;
    align-self: center;
    text-align: center;
    border-width: 0;
    background-color: white;
    font-size: small;
    font-weight: bold;
}