.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    min-width: 160px;
    min-height: 200px;
    background-color: gray;
}

.id {
    font-weight: bold;
}