.container {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}

.cancel {
    align-self: flex-end;
    margin-right: 10%;
    font-size: large;
    font-weight: bolder;
    padding: 0;
    margin-bottom: 2%;
    margin-top: 2%;
}

.content {
    width: 500px;
    min-height: 650px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1%;
}


.photo {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 1%;
}

.id {
    align-self: flex-start;
    margin-left: 10%;
    font-size: large;
    font-weight: bold;
}

.feedContent {
    align-self: flex-start;
    margin-left: 10%;
    font-size: medium;
    font-weight: 500;
    margin-top: 0;
}

.time {
    align-self: flex-start;
    margin-left: 10%;
    font-size: smaller;
    font-weight: 400;
    padding-bottom: 2%;
}