.profile {
    display: flex;
    flex-direction: row;
}

.id {
    font-weight: bold;
    font-size: medium;
    margin-left: 5%;
}

.id:hover {
    color: gray;
}

.profileImage {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    background-color: gray;
    margin-left: 5%;
}

.tagContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 100px;
    margin-left: 5%;
}

.tag {
    color: #5f7edd;
}

.tag:hover{
    color: blue;
}

.profileSetButton{
    margin-left: 5%;
    height: 25px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: #101010;
    border-radius: 5px;
}
.friendsTitle {
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}