.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}

.id {
    font-weight: bold;
    font-size: medium;
    margin-left: 10%;
    align-self: flex-start;
}

.id:hover {
    color: gray;
}

.profileImageContainer {
    border-radius: 50%;
    max-width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImage {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border-width: 0;
    object-fit: cover;
}

.tagContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 100px;
    margin-left: 10%;
    align-self: flex-start;
}

.tag {
    color: #5f7edd;
}

.tag:hover{
    color: blue;
}

.profileSetButton{
    height: 25px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: #101010;
    border-radius: 5px;
    width: 180px;
}

.writePostButton {
    height: 25px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: #101010;
    border-radius: 5px;
    width: 100px;
    margin-top: 5%;
    align-self: center;
}

.friendsContainer {
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-left: 10%;
}