.container {
    background-color: azure;
    text-align: center;

}

.contentContainer {
    display: flex;
    flex-direction: row;
    gap: 8%;
}

.sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 200px;
}


.content {
    display: flex;
    flex-direction: column;
    flex: 50;
}

.logoutField{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5%;
}

.logout {
    width: 80px;
}

.title {
    font-weight: bold;
    font-size: xx-large;
    
}

